<div class="cols clearfix">
  <div class="holder clearfix rrrather">

    <div class="col-xs-7">
      <h2><%= question.title %>... <span>(asked by <%= link_to question.user.username, user_path(question.user) %> <%= time_ago_in_words question.created_at %> ago)</span></h2>
      <div class="text-center col-xs-5 photo-tile">
        <div class="photo-insert" style="background-image: url(<%= question.options.first.image_url %>);">

        </div>
        <h4><%= question.options.first.text %></h4>
      </div>
      <div class="col-xs-2 text-center">
        <br><br>
        <h2>OR</h2>
        <h5><%= question.options.first.votes.count + question.options.first.votes.count %> votes</h5>
      </div>
      <div class="col-xs-5 text-center photo-tile">
        <div class="photo-insert" style="background-image: url(<%= question.options.last.image_url %>);">

        </div>
        <h4><%= question.options.last.text %></h4>
      </div>
    </div>
    <div class="col-xs-5 comment-box">
      <h3>Leave a comment</h3>
    </div>
  </div>
</div>
<br>
